<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main">
        <p>Willkommenstext</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Teilnehmercode: </label>
      </div>
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Code" aria-label="Code" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-warning" type="button">Apply</button>
          </div>
      </div>
    </div>
  </div>
</div>
