<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main " style="text-align:center">
      <p>Type in your code here!</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align:center">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Code" aria-label="Code" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-warning" type="button">Apply</button>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="form-check col-md-10">
        <label class="form-check-label" for="defaultCheck1">
          Ich erkläre mich mit den Vereinbarungen der AGB einverstanden.
        </label>
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      </div>
    </div>
  </div>
</div>
