<div class="container">
    <div class="row">
        <div class="col-sm-4">
          <label> Ingame Name(optional) :</label>
        </div>
        <div class="col-sm-4">
          <input type="text">
        </div>
        <div class="col-sm-4">
          <input type="checkbox" text="anonym">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie beurteilst du das Gesamtklima?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie beurteilst du das Familiengefühl?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie beurteilst du die Hilfsbereitschaft?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie findest du die Homepage?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie beurteilst du die Daten der Offis?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie beurteilst du die Arbeit der Gildenführer?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie wichtig ist dir die Community?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie wichtig ist es dir andere Gilden zu unterstützen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie gut denkst du werden Verbindungen zu Paten gepflegt?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Was hältst du von den Wettbewerben in felis kakaokränzchen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>

    </div>

    /****************************************************************
    * Hier beginnen ja/nein Fragen und freie Fragen
    ******************************************************************/
    <div class="row">
        <div class="col-sm-4">
            <label> Würdest du dir mehr Aktionen innerhalb der Gilde wünschen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-4">
            <input type="radio">
            <input type="radio">
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Würdest du dir mehr Informationen über gildeninterne Geschehnisse wünschen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-4">
            <input type="radio">
            <input type="radio">
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Würdest du gerne mehr über die Geschichte der Gilde wissen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-4">
            <input type="radio">
            <input type="radio">
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Gibt es Chatrooms auf dem Server, die du als überflüssig ansiehst?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-4">
            <input type="radio">
            <input type="radio">
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wenn ja, welche?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Gibt es Chatrooms auf dem Server, die dir fehlen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-4">
            <input type="radio">
            <input type="radio">
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wenn ja, welche?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Weitere Anmerkungen:</label>
        </div>
        <div class="col-sm-12">
            <input type="text">
        </div>
    </div>
</div>