<div class="container">
    <div class="row">
        <div class="col-sm-4">
          <label> Ingame Name(optional) :</label>
        </div>
        <div class="col-sm-4">
          <input type="text">
        </div>
        <div class="col-sm-4">
          <input type="checkbox" text="anonym">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie beurteilst du das Gesamtklima?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio1">1</label>
                <label><input type="radio" name="optradio1">2</label>
                <label><input type="radio" name="optradio1">3</label>
                <label><input type="radio" name="optradio1">4</label>
                <label><input type="radio" name="optradio1">5</label>
                <label><input type="radio" name="optradio1">6</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie beurteilst du das Familiengefühl?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio2">1</label>
                <label><input type="radio" name="optradio2">2</label>
                <label><input type="radio" name="optradio2">3</label>
                <label><input type="radio" name="optradio2">4</label>
                <label><input type="radio" name="optradio2">5</label>
                <label><input type="radio" name="optradio2">6</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie beurteilst du die Hilfsbereitschaft?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio3">1</label>
                <label><input type="radio" name="optradio3">2</label>
                <label><input type="radio" name="optradio3">3</label>
                <label><input type="radio" name="optradio3">4</label>
                <label><input type="radio" name="optradio3">5</label>
                <label><input type="radio" name="optradio3">6</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie findest du die Homepage?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio4">1</label>
                <label><input type="radio" name="optradio4">2</label>
                <label><input type="radio" name="optradio4">3</label>
                <label><input type="radio" name="optradio4">4</label>
                <label><input type="radio" name="optradio4">5</label>
                <label><input type="radio" name="optradio4">6</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie beurteilst du die Daten der Offis?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio5">1</label>
                <label><input type="radio" name="optradio5">2</label>
                <label><input type="radio" name="optradio5">3</label>
                <label><input type="radio" name="optradio5">4</label>
                <label><input type="radio" name="optradio5">5</label>
                <label><input type="radio" name="optradio5">6</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie beurteilst du die Arbeit der Gildenführer?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio6">1</label>
                <label><input type="radio" name="optradio6">2</label>
                <label><input type="radio" name="optradio6">3</label>
                <label><input type="radio" name="optradio6">4</label>
                <label><input type="radio" name="optradio6">5</label>
                <label><input type="radio" name="optradio6">6</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie wichtig ist dir die Community?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio7">1</label>
                <label><input type="radio" name="optradio7">2</label>
                <label><input type="radio" name="optradio7">3</label>
                <label><input type="radio" name="optradio7">4</label>
                <label><input type="radio" name="optradio7">5</label>
                <label><input type="radio" name="optradio7">6</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie wichtig ist es dir andere Gilden zu unterstützen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio8">1</label>
                <label><input type="radio" name="optradio8">2</label>
                <label><input type="radio" name="optradio8">3</label>
                <label><input type="radio" name="optradio8">4</label>
                <label><input type="radio" name="optradio8">5</label>
                <label><input type="radio" name="optradio8">6</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wie gut denkst du werden Verbindungen zu Paten gepflegt?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio9">1</label>
                <label><input type="radio" name="optradio9">2</label>
                <label><input type="radio" name="optradio9">3</label>
                <label><input type="radio" name="optradio9">4</label>
                <label><input type="radio" name="optradio9">5</label>
                <label><input type="radio" name="optradio9">6</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Was hältst du von den Wettbewerben in felis kakaokränzchen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio10">1</label>
                <label><input type="radio" name="optradio10">2</label>
                <label><input type="radio" name="optradio10">3</label>
                <label><input type="radio" name="optradio10">4</label>
                <label><input type="radio" name="optradio10">5</label>
                <label><input type="radio" name="optradio10">6</label>
            </div>
        </div>
    </div>
<!--
    /****************************************************************
    * Hier beginnen ja/nein Fragen und freie Fragen
    ******************************************************************/-->
    <div class="row">
        <div class="col-sm-4">
            <label> Würdest du dir mehr Aktionen innerhalb der Gilde wünschen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio11">1</label>
                <label><input type="radio" name="optradio11">2</label>
            </div>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Würdest du dir mehr Informationen über gildeninterne Geschehnisse wünschen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio12">1</label>
                <label><input type="radio" name="optradio12">2</label>
            </div>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Würdest du gerne mehr über die Geschichte der Gilde wissen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio13">1</label>
                <label><input type="radio" name="optradio13">2</label>
            </div>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Gibt es Chatrooms auf dem Server, die du als überflüssig ansiehst?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio14">1</label>
                <label><input type="radio" name="optradio14">2</label>
            </div>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wenn ja, welche?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Gibt es Chatrooms auf dem Server, die dir fehlen?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6 btn-toolbar" role="toolbar">
            <div class="radio" role="group" aria-label="First group">
                <label><input type="radio" name="optradio15">1</label>
                <label><input type="radio" name="optradio15">2</label>
            </div>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Wenn ja, welche?</label>
        </div>
        <div class="col-sm-2">
            <span></span>
        </div>
        <div class="col-sm-6">
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label> Weitere Anmerkungen:</label>
        </div>
        <div class="col-sm-12">
            <input type="text">
        </div>
    </div>
</div>